.TodoItem {
  display: flex;
  border-bottom: 2px solid #535c68;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.Icon {
  cursor: pointer;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
  /* background-color: #CCC; */
}

.Icon-check {
  position: relative;
  /* left: 12px; */
}
.Icon-check--active {
  color: #4caf50;
}

.trash:hover {
  color: red;
  cursor: pointer;
  /* font-size: 20px; */
}

.text {
  width: 100%;
  margin-left: 5px;
  color: white;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}