.TodoList {
  display: flex;
  width: 100%;
  justify-content: center;
  /* overflow: scroll; */
}

.TodoList-List {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  /* border: 1px solid red; */
  /* margin: 30px; */
}