.buttonContent {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.CreateTodoButton {
  background-color: #F16529;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 40px;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  transform: rotate(0);
  transition: .3s ease;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.51);
}

.CreateTodoButton:hover {
  transform: rotate(130deg);
}

@media (min-width: 768px) {
  .CreateTodoButton {
    margin-bottom: 25px;
  }
}